<?php
require './Api/User/VerifySession.php';
require './Api/Controls/Buttons.php';
verifySession();
?>
<!DOCTYPE html>
<html>
	<head>
		<title>Tracker -Reportes</title>
		<link rel="stylesheet" href="./Styles/styles.css">
		<link rel="stylesheet" href="./Styles/jquery-ui.min.css">
		<link rel="stylesheet" href="./Scripts/jquery.datetimepicker.min.css">
		<script src="./Scripts/jquery-3.1.1.min.js"></script>
		<script src="./Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="./Scripts/list.min.js"></script>
		<script src="./Scripts/angular.min.js"></script>
		<script src="./Scripts/jquery.datetimepicker.full.min.js"></script>
		<script src="./Scripts/reports.js"></script>	
    </head>
	<body>
		<div id="reportsWraper" class="wrapper" data-ng-app="reportsApp" >
			<div class="logoheaderwrap">
				<div class="logoheader">
					<div class="logo">
							<a href="./">
							  <img src="Images/logo.png" alt="Tracker" width="auto" height="30">
							</a>						
					</div>
				</div>
			</div>
			<div class="headerwrap">
				<div class="header">
					<div class="session">
						<?php 
							profileButton();
							sessionButton();
						?>
					</div>
				</div>
			</div>
			<div class="navigationwrap">
				<div class="navigation">
					<?php 
						menuButtons();
					?>
				</div>
			</div>
			<div class="leftcolumnwrap">
				<div class="leftcolumn">
					<div data-ng-controller="reportExecutionCtrl">
						<div>
							<label for="reportSelect">Reporte</label> 
							<!--select id="reportSelect" 
							data-ng-options="report.description for report in reports track by report.id" 
							data-ng-model="selectedReport"-->
							<div>
								<select id="reportSelect" 
								data-ng-options="report.description for report in reports track by report.id" 
								data-ng-model="selectedReport">
									<option value="">- - Seleccione un Reporte - -</option>
								</select>
							</div>
						</div>						
						<div data-ng-repeat="parameter in selectedReport.parameters" data-ng-cloak>						
							<label>{{parameter.description}}</label>
							<div data-ng-show="parameter.type=='text'" data-ng-cloak>
								<input type="text" data-ng-model="parameter.selectedValue">
							</div>
							<div data-ng-show="parameter.type=='select'" data-ng-cloak>
								<select 
									data-ng-options="item.description as item.description for item in parameter.defval track by item.description" 
									data-ng-model="parameter.selectedValue">
									<option value="">- - Seleccione una opción - -</option>
								</select>
							</div>
							<div data-ng-show="parameter.type=='datetime' && setDateTime()" data-ng-cloak>
								<input type="text" class="datetimePicker" data-ng-model="parameter.selectedValue">
							</div>
						</div>
						<div>
							<button data-ng-click="executeSelectedReport();">Ejecutar</button>	
						</div>
						<div>
							<button onclick="window.location.href='./reportsConfiguration.html'">Configurar...</button>	
						</div>
					</div>
				</div>
			</div>	
			<div class="middlecolumnwrap">
				<div class="middlecolumn">
					<div data-ng-controller="reportResultCtrl">
							<table>
								<thead>
									<tr>
										<th data-ng-repeat="columnName in columnNames" data-ng-cloak>
											<label>{{columnName}}</label>
										</th>
									</tr>
									
								</thead>
								<tbody>
									<tr data-ng-repeat="reportItem in reportItems" 
										data-ng-click="selectedReportItemChanged(reportItem);"
										data-ng-class="{trSelected: reportItem==selectedReportItem}">
										<td data-ng-repeat="columnValue in reportItem" data-ng-cloak>
											<label>{{columnValue}}</label>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>	
			<div class="poweredwrap">
				<div class="powered">
					<label> Powered by <a href="http://www.linkedin.com/in/sebastian-mora-b1785131">SM</a></label>
				</div>
			</div>	
		</div>	
	</body>
</html>